* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background: linear-gradient(to bottom right, #1e52b4, #002777);
  height: 450px;
}

.nAv {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 30px;
  color: #fff;
  margin-right: 100px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.logo-header {
  width: 150px;
  display: flex;
  margin-top: 20px;
  margin-right: 810px;
}

.content-header {
  margin-top: 25px;
  color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.content-header a :hover {
  border-bottom: 2px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.cadastro-header {
  margin-top: 20px;
  border: #fff solid 2px;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}

.container-headerTexto {
  color: #fff;
  margin-top: 90px;
  margin-left: 55px;
  width: 85%;
}

.h1-headerTexto {
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.text-headerTexto {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

#image-headerTexto {
  display: flex;
  margin-left: 1000px;
  margin-top: -200px;
}

.h2-footer {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.text1-footer {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
}

.text2-footer {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.footer-top {
  background-color: #009C3B;
  height: 163px;
}

footer {
  margin-bottom: 0px;
}

.footer-bottom {
  background-color: yellow;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.container-main {
  height: 500px;
  margin-right: 100px;
}

.h2-main {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  line-height: 42px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.text-main {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 30px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

#image-mainBaixo {
  display: flex;
  margin-left: 800px;
  margin-top: -180px;
}

.container-main2 {
  padding: 50px;
  margin-top: 10px;
}

.image-mainBaixo {
  width: 449px;
  height: 300px;
}
